---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}


{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}

<section>
<h2> Photon transport through QED lattices. </h2>
<p>
One of my areas of focus is to determine how one dimensional lattices of qubits can cause changes in the photons being transmitted through them. 
One of the lattice structures studied was a chain of qubits directly coupled to each other. 
</p>
<IMG SRC=”images/500x300.png” ALIGN=”right” />
</section>
